<div class="Principal">
    <div class="datos">
        <h1>JUEGOS QUE ME GUSTAN</h1>
        <button class="exit-button" (click)="salir()">Salir</button>
    </div>
    <br>
    <div class="post">
        <img src="https://scontent.fmch2-1.fna.fbcdn.net/v/t39.30808-6/330419953_582528197107470_400740136667461512_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeE4o31qVCFiIntYZHrtGQmut6KKFn9RrXW3oooWf1GtdZHQ_q-qydNYpgf3NYTvDi1PJVHFa9gYGJp6q1DkZke1&_nc_ohc=GLckFh7FpscAX-AHZTN&_nc_ht=scontent.fmch2-1.fna&oh=00_AfBzU_l10IClj1hcg7_wLNB1s0y4P6GtAjy3PIS8kK74Mw&oe=64BC6648" alt="Imagen 1">
        <br>
        <h2>Sobre Mi...</h2>
        <p>Mi nombre es Fernando Ericsson Montoya Naguas, soy estudiante de la asignatura de 
            TECNOLOGÍAS WEB, actualmente curso el Paralelo “A” en la carrera de TECNOLOGÍAS
            DE LA INFORMACIÓN de la FACULTAD DE INGENIERÍA CIVIL de la Universidad Técnica 
            de Machala. Soy una persona humilde me gusta ayudar a quienes lo necesitan y siempre 
            me gusta dar apoyo moral.a
            Mis metas son ser un orgullopara mis padres lograr llegar alto y cumplir todos mis
            sueños de querer ser un ingeniero a pesar de las dificultades que tenga que pasar por los 
            motivos de nunca a ver tenido programación ni un poco de base sobre esta materia 
            pero por ese motivo seguiré esforzándome para poder lograr todas mis metas (indicar
            cuáles son sus metas tanto estudiantiles, profesionales y personales como por ejemplo: 
            convertirme en profesional como ingeniero en Sistemas Informáticos, aprender más 
            para así desarrollarme como persona, cumplir mis metas y propuesta porque nada es 
            imposible en esta vida ya que todo es posible solo hay que ponerle fuerza de voluntad 
            y teniendo como principal fuente de apoyo incondicional de la docente ).
        </p>
    </div>
    <div class="post" >
        <img src="https://image.api.playstation.com/vulcan/img/cfn/11307uYG0CXzRuA9aryByTHYrQLFz-HVQ3VVl7aAysxK15HMpqjkAIcC_R5vdfZt52hAXQNHoYhSuoSq_46_MT_tDBcLu49I.png" alt="Imagen 2">
        <br>
        <h2 >Minecraft</h2>
        <p>Minecraft, un fenómeno mundial desarrollado por Mojang Studios, destaca por su libertad creativa y su mundo abierto. 
            El juego permite a los jugadores construir y explorar infinitos paisajes cúbicos generados aleatoriamente. 
            La combinación de supervivencia, construcción y aventura lo convierte en un favorito para muchos. 
            Su estética pixelada y su comunidad activa han contribuido a su éxito masivo. Los jugadores pueden colaborar en servidores 
            o crear sus propios mundos personalizados. Minecraft ha inspirado proyectos educativos y culturales, 
            y su continua evolución lo mantiene relevante a lo largo del tiempo. Con su capacidad para dejar volar la imaginación, 
            Minecraft se ha convertido en un ícono de la cultura de los videojuegos.</p>
    </div>

    <div class="post">
        <img src="https://www.egames.news/__export/1652626395639/sites/debate/img/2022/05/15/mario-kart-64-hd-1.jpg_554688468.jpg" alt="Imagen 3">
        <br>
        <h2>Mario Kart 64</h2>
        <p>Mario Kart 64, un clásico de Nintendo 64, destaca por su diversión multijugador con icónicos personajes de la franquicia. 
            La nostalgia, jugabilidad accesible y emocionantes circuitos lo convierten en favorito para muchos. 
            Su selección de objetos y armas añade estrategia a las carreras, manteniendo la experiencia fresca. 
            Con excelente diseño de pistas y atajos secretos, la diversión nunca termina. 
            Su impacto en la cultura de los videojuegos lo convierte en un título influyente y perdurable. 
            Ya sea solo o con amigos, Mario Kart 64 sigue siendo un título querido por su encanto atemporal y experiencias competitivas
            que nunca pasan de moda.
        </p>
    </div>
</div>
